p{
  margin : 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#short_description {
  color: rgb(255, 255, 255);
  font-size: 2.5vw;
}

#horizontal_line {
  width: 100vw;
  height: 0.1vw;
  background-color: rgb(255, 255, 255);
}

#small_gap {
  height: 1vw;
}

#youtube_channel, #patreon_page {
  height: 5vw;
}
