p{
  margin : 0;
}

#title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 5vw;
}

#short_description {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2.5vw;
}

#horizontal_line {
  width: 100vw;
  height: 0.1vw;
  background-color: rgb(255, 255, 255);
}

#small_gap {
  height: 1vw;
}

#youtube_channel, #patreon_page {
  height: 5vw;
}